<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cn</key>
	<string>lion</string>
	<key>dstudio-auto-disable</key>
	<string>NO</string>
	<key>dstudio-auto-reset-workflow</key>
	<string>NO</string>
	<key>dstudio-disabled</key>
	<string>NO</string>
	<key>dstudio-host-ard-ignore-empty-fields</key>
	<string>NO</string>
	<key>dstudio-host-delete-other-locations</key>
	<string>NO</string>
	<key>dstudio-host-interfaces</key>
	<dict>
		<key>en0</key>
		<dict>
			<key>dstudio-dns-ips</key>
			<string></string>
			<key>dstudio-host-airport</key>
			<string>NO</string>
			<key>dstudio-host-airport-name</key>
			<string></string>
			<key>dstudio-host-airport-password</key>
			<string></string>
			<key>dstudio-host-ftp-proxy</key>
			<string>NO</string>
			<key>dstudio-host-ftp-proxy-port</key>
			<string></string>
			<key>dstudio-host-ftp-proxy-server</key>
			<string></string>
			<key>dstudio-host-http-proxy</key>
			<string>NO</string>
			<key>dstudio-host-http-proxy-port</key>
			<string></string>
			<key>dstudio-host-http-proxy-server</key>
			<string></string>
			<key>dstudio-host-https-proxy</key>
			<string>NO</string>
			<key>dstudio-host-https-proxy-port</key>
			<string></string>
			<key>dstudio-host-https-proxy-server</key>
			<string></string>
			<key>dstudio-host-interfaces</key>
			<string>en0</string>
			<key>dstudio-host-ip</key>
			<string></string>
			<key>dstudio-router-ip</key>
			<string></string>
			<key>dstudio-search-domains</key>
			<string></string>
			<key>dstudio-subnet-mask</key>
			<string></string>
		</dict>
	</dict>
	<key>dstudio-host-new-network-location</key>
	<string>NO</string>
	<key>dstudio-host-primary-key</key>
	<string>dstudio-host-serial-number</string>
	<key>dstudio-host-serial-number</key>
	<string>ABCXYZ</string>
	<key>dstudio-hostname</key>
	<string>lion</string>
</dict>
</plist>
